:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	height: 100%;
	width: 100%;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.sidebar {
	top: 0px;
	position: absolute;
	z-index: 20;
	height: 100vh;
	background-color: #1b1b1b93;
	backdrop-filter: blur(30px);
	display: flex;

}

.leftSide {
	left: 0px;
}

.rightSide {
	right: 0px;
}

.sidebarHandle {
	background-color: #303030;
	position: absolute;
	height: 100vh;
	width: 7px;
	cursor: ew-resize;
}



.statBlock {
	background-color: #e4e4e40c;
	margin-top: 0.5em;
	padding: 0.5em;
	width: 100%;
}

.unselectable {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

input {
	background-color: #23313d;
}

select {
	background-color: #14151a;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin-bottom: 0.6em;
}

h2 {
	font-size: 2em;
	line-height: 1.1;
	margin-bottom: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	margin-top: 10px;
	font-size: 1.3em;
}

.h3TextInput {
	font-size: 1.6em;
}

textarea {
	background-color: rgba(108, 106, 109, 0.179);
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

dialog {
	color: white;
	background-color: rgb(27, 27, 27);
	padding: 10px;
}

.toggleArea {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 30px;
	column-gap: 1em;
	margin: 3px;
}

/*hide default switch for toggle buttons */
.toggleButton input {
	opacity: 0;
	width: 0;
	height: 0;
}

.toggleButton {
	display: grid;
	cursor: pointer;
	font-size: 0.9em;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.toggleBG {
	background-color: #213547;
}

input:checked+.toggleBG img {
	filter: invert(100%);
}

input:checked+.toggleBG {
	background-color: greenyellow;
	color: #14151a;
}

input:focus+.toggleBG {
	box-shadow: 0 0 1px #535bf2;
}